<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.github.yftx.DialerReserch"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk android:minSdkVersion="19"/>
    <application
            android:label="@string/app_name"
            android:icon="@drawable/ic_launcher">
        <activity
                android:name="HomeActivity"
                android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".Property.PropertyActivity"
                android:label="测试属性Activity"/>
        <activity
                android:name=".LifeCircle.LifeCircleActivity"
                android:label="Activity及Fragment生命周期"/>
        <activity
                android:name=".HandlerThread.HandlerThreadActivity"
                android:label="HandlerThread"/>
    </application>
</manifest>
